<ion-tabs class="tabs-icon-top tabs-color-active-assertive">
  <ion-tab title="推荐" icon="ion-ios-monitor-outline" ui-sref=".tuijian">
    <ion-nav-view name="tuijian"></ion-nav-view>
  </ion-tab>
  <ion-tab title="明星专区" icon="icon-earth" ui-sref=".star">
    <ion-nav-view name="star"></ion-nav-view>
  </ion-tab>
  <ion-tab title="发现" icon="icon-compass" ui-sref=".faxian">
    <ion-nav-view name="faxian"></ion-nav-view>
  </ion-tab>
  <ion-tab title="视频播客" icon="ion-ios-videocam-outline" ui-sref=".videoBoke">
    <ion-nav-view name="videoBoke"></ion-nav-view>
  </ion-tab>
  <!--<ion-tab title="NBA资讯" icon="ion-ios-basketball" ui-sref=".nbaNews">-->
    <!--<ion-nav-view name="nbaNews"></ion-nav-view>-->
  <!--</ion-tab>-->
</ion-tabs>
